*{
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    width: 100%;
}
h2{
    font-size: 1.2m;
    font-weight: lighter;
}
p {
    margin-left: 50px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.flexbox-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;
    margin: 20px;
    
}
.flexbox-container1 {
   
    margin-top:5px ;
    margin-bottom: 5px;
    box-shadow: 10px 20px 5px black;
    border: 1px solid black;
    
}
button a{
    background-color: none;
    color: black;
    text-decoration: none;

}
button{
    border: 1px solid #333;
    font-size: .8em;
    background-color: transparent;
}
button a:hover{
    font-size: 1.2em;
    background-color: transparent;
    border: 1px solid black;
    box-shadow: 10px 20px 5px black;
    border: 1px solid black;
}


@media (max-width: 530px) {
    p {
        text-align: center;
        font-size: 1.2em;
        font-weight: lighter;
    }
    img{
        width: 150px;
        height: 150px;
        margin-right: 10px;
    }
    .flexbox-container1 {
   
        margin-top: 5px;
        margin-bottom: 5px;
        box-shadow: 10px 20px 5px black;
        width: fit-content;
        position: relative;
    }
    h1{
        font-size: 1.5em;
        width: 100%;
    }
    .flexbox-container div p{
        width: 150px;
        font-size: 12px;

    }
    h2{
        font-size: 1.3em;
    }
    button{
        border: 1px solid rgb(170, 107, 170);
        background-color: rgba(175, 57, 175, .5);
    }
} 