h1 {
    background-color: aquamarine;
    text-align: center;
}
p {
    background-color: aquamarine;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.flexbox-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;
    margin: 20px;
    
}
.flexbox-container1 {
   
    margin-top:5px ;
    margin-bottom: 5px;
    box-shadow: 10px 20px 5px;
    
}
