*{
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 2rem;
     text-align: center;
     margin-top: 10px;
     margin-bottom: 10px;
}
.p-element {
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    word-spacing: 3px;
}


.music {
    border: 3px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: -10px -10px 10px black;
}

.container {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}  
.music-container:hover {
    background-color: gray;
    opacity: 4px;
   transition: 0.5s ease-in-out ;
 
}
@media (max-width: 680px) {
.p-element{
    font-size: small;
}
.music{
    width: fit-content;
    height: fit-content;
}
.music img{
    width: 200px;
}
h2{
    font-size: medium;
}
}