*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url('https://th.bing.com/th/id/R.9c52242b3bb4fabea16040f638c82e4d?rik=hbCLgDmD%2fk0J5A&pid=ImgRaw&r=0');
    background-size: cover;
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-position: center;
    padding-bottom: 30px;
    width: 100%;
   color: white;
   font-weight: bold;
}

h1 {
    font-size: 2rem;
     text-align: center;
     margin-top: 10px;
     margin-bottom: 10px;
}
.p-element {
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    word-spacing: 3px;
}


.music {
    border: 3px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: -10px -10px 10px black;
}

.container {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}  
.music-container:hover {
    background-color: gray;
    opacity: 4px;
   transition: 0.5s ease-in-out ;
 
}
@media (max-width: 680px) {
.p-element{
    font-size: small;
}
.music{
    width: fit-content;
    height: fit-content;
}
.music img{
    width: 100px;
}
h2{
    font-size: medium;
}
}